# ignore all files
*


# Except:
!.gitignore

#!*.py         # all python files in root dir
!FE_mesh/*.py # all python files in subdirs 
!sphere_generator/*.py 
!sieve_analysis_tools/*.py

!LICENSE.md
!README.md
!requirements.txt





*.py
batch_of_spheres_3D_stochastic_options.py
